@page
@model IndexModel
@{
    ViewData["Title"] = "History";
    ViewData["ActivePage"] = ManageNavPages.History;
}

<h4>@ViewData["Title"]</h4>

<table>
    <thead>
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}