@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Scope: Local DVD Rental Store.</p>
    <p>This website is created for university proejct.</p>
</div>
